.header {
  overflow: hidden;
}
.header a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.header a:hover {
  background-color: #ddd;
  color: black;
}
.header a.active {
  color: white;
}
.header-right {
  float: right;
}

@media screen and (max-width: 1000px) {
  .topnav {
    width: 570px;
  }
}
