.form-group {
  width: 100%;
  border: none;
  padding: 10px;
}
.categories {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 30px rgb(71, 71, 71);
  margin: 50px;
  background: #fff;
  align-items: center;
  text-align: center;
}

.header {
  text-align: center;
  font-size: 5em;
}
.badge {
  font-size: 1.3em;
}
.videoInstructions {
  text-align: center;
  display: grid;
  padding: 25px;
}

// for mobile
@media screen and (max-width: 900px) {
  .recipe {
    text-align: center;
  }
  .categories {
    grid-template-columns: repeat(1, 1fr);
    margin: -35px 0px 0px -80px;
  }
  .badge {
    text-align: center;
  }
  //.container {
  //margin: 16px 26px 25px -58px;
  //}
  .form-group {
    width: 153%;
  }
}
