.categories {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.recipe {
  //border-radius: 10px;
  //box-shadow: 0px 5px 20px rgb(71, 71, 71);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  //background: #3a3e3f;
  align-items: center;
  min-width: 40%;
}

@media only screen and (max-device-width: 376px) {
  .images {
    border: 1px;
    padding: 5px;
    border-radius: 4px;
    width: 100px;
  }
}

.instructions {
  font-size: 1.2em;
  padding: 2em;
}
.header {
  text-align: center;
  font-size: 2em;
}
.badge {
  font-size: 1.3em;
}
