<div class="form-group">
  <input
    type="text"
    class="form-control"
    placeholder="Search by category"
    [(ngModel)]="searchTerm"
  />
</div>
<div class="container">
  <ul class="categories" *ngIf="meals; else loading">
    <li *ngFor="let meal of meals | categoryFilter: searchTerm">
      <div class="recipe">
        <div class="img">
          <img
            src="{{ meal.strMealThumb }}"
            (click)="(meal.idMeal)"
            style="width: 90%;"
          />
        </div>
        <div class="videoInstructions">
          <a [routerLink]="['/categories', meal.idMeal]"
            ><span class="badge">{{ meal.strMeal }}</span>
            {{ meal.strCategory }}</a
          >
          <a href="{{ meal.strYoutube }}">Video instuctions</a>
          <a href="{{ meal.strSource }}">Source</a>
        </div>
      </div>
    </li>
  </ul>
</div>

<ng-template #loading>Loading meals...</ng-template>
