<div class="form-group">
  <input
    type="text"
    class="form-control"
    placeholder="Search by category"
    [(ngModel)]="searchTerm"
  />
</div>
<div class="container">
  <ul class="categories" *ngIf="meals; else loading">
    <li *ngFor="let meal of meals | categoryFilter: searchTerm">
      <div class="recipe">
        <div class="img">
          <img
            src="{{ meal.strMealThumb }}"
            (click)="(meal.idMeal)"
            style="width: 90%; margin: 12px 0px 0px -4px;"
          />
        </div>
        <div class="videoInstructions">
          <a [routerLink]="['/categories', meal.idMeal]"
            ><span class="badge">{{ meal.strMeal }} </span>
          </a>
          {{ meal.strCategory }}
          <button
            *ngIf="loggedIn"
            mat-raised-button
            color="primary"
            (click)="onSaveRecipes(meal.idMeal)"
          >
            Save this recipe!
          </button>
          <a href="/login" *ngIf="!loggedIn">Login to save Recipes!</a>
        </div>
      </div>
    </li>
  </ul>
</div>

<ng-template #loading>Loading meals...</ng-template>
